
{% set extend = '/wrapper/_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}
	<div id="test" data-behaviour="Page1" class="border-b pb-1">
		<div data-element="item" data-prop1="a" data-prop2="b">
			<h1 class="mb-2"><a href="/blog/article/">[p4] /blog/p4/</a></h1>		
			<p class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati hic porro ipsa placeat, nemo ad.</p>
			<div class="flex">
				<a class="mr-2" href="/blog/p3" data-pagination-prev>Previous</a>
			</div>
		</div>
	</div>
{% endblock %}
