
{% set extend = '/wrapper/_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}
	<div id="test" data-behaviour="Page1">
		<div data-element="item" data-prop1="a" data-prop2="b">
      <h4>[p4] Lorem ipsum dolor sit. url: /blog/p4 </h4>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati hic porro ipsa placeat, nemo ad.</p>
		</div>
	</div>
{% endblock %}
