
{% set extend = '/wrapper/_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}
	<div class="min-h-screen">bla</div>
	<div id="test" data-behaviour="HomePage">
		<div data-element="item" data-prop1="a" data-prop2="b">
			<h1 data-link>Home Page</h1>
		</div>
	</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
{% endblock %}
