
{% set extend = '/wrapper/_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}
	<div id="test" data-behaviour="HomePage">
		<div class="c-hero min-h-screen bg-blue"></div>
		<div data-element="gary" data-name="gary" data-amount="10">
			<h1>Gary</h1>
		</div>
		<div class="min-h-screen">bla</div>
		<div data-element="sally" data-name="sally" data-amount="10">
			<h1>Sally</h1>
		</div>
	</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
	<div class="min-h-screen">bla</div>
{% endblock %}
