body {
	&:after {
		@if $env == 'development' {
			position: fixed;
			bottom: 0;
			left: 0;
			font-size: 12px;
			background-color: rgba($black, 0.4);
			color: $white;
			display: block;
			padding: gutter(0.25);
			z-index: 100001;
		} @else {
			display: none;
		}
		content: 'root';
	}
}

@each $break, $key in $breakpoints {
	@include mq($from: breakpoint($break)) {
		body::after {
			content: '#{$break}';
		}
	}
}
