/* stylelint-disable */

@if $env == 'development' {
	body {
		&:after {
			position: fixed;
			bottom: 0;
			left: 0;
			font-size: 12px;
			background-color: rgba($black, 0.4);
			color: $white;
			content: 'root';
			display: block;
			padding: gutter(0.25);
			z-index: 100001;
		}
	}

	@each $break, $key in $breakpoints {
		@include mq($from: breakpoint($break)) {
			body::after {
				content: '#{$break} => (#{$key} | #{mq-px2em($key)})';
			}
		}
	}
}
