{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions", "safari >= 7"]
				}
			}
		]
	],
	"plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
		"syntax-dynamic-import",

		[
			"module-resolver",
			{
				"alias": {
					"@": "./src/js/"
				}
			}
		]
	],

	"env": {
		"test": {
			"plugins": ["dynamic-import-node"]
		}
	}
}
