<div class="max-w-sm overflow-hidden border">
  <img class="w-full" src="https://images.unsplash.com/photo-1512933059723-2c1872655ce1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=400&fit=crop&s=b9128991d9f18cd22b8a3083363928cc" alt="Snow covered leaves on a tree, with an owl">
  <header class="px-2 pt-2">
    <h2 class="font-bold text-xl">Maiores et perferendis </h2>
  </header>
  <div class="px-2 py-2 mb-4">
    <p class="text-grey-darker text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-2 pb-2 flex flex-wrap">
    {% include '@button' %}
  </div>
</div>