.c-tabs {
	position: relative;
}

.c-tabs__list {
	position: relative;
	overflow: hidden;
}

.c-tabs__item {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 150ms ease, visibility 0ms 0ms ease;
	opacity: 0;
}

.c-tabs__item--current {
	transition: opacity 150ms ease, visibility 0ms 150ms ease;
	visibility: visible;
	position: relative;
	opacity: 1;
}

.c-tabs-ctrl {
	margin-bottom: gutter(0.5);
	display: flex;
	border-bottom: 2px solid rgba(10, 10, 10, 0.6);
}

.c-tabs-ctrl__item {
	&:not(:last-child) {
		margin-right: gutter(0.5);
	}
}

.c-tabs-ctrl__btn {
	padding: gutter(1);
	display: block;

	&.is-current,
	&:hover {
		background-color: rgba(10, 10, 10, 0.6);
		color: $white;
	}
}

.c-tabs__list {
	border-bottom: 2px solid rgba(10, 10, 10, 0.6);
}
