.c-tabs {
	position: relative;
}

.c-tabs__list {
	position: relative;
	overflow: hidden;
}

.c-tabs__item {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 300ms ease;
	opacity: 0;
}

.c-tabs__item--current {
	visibility: visible;
	position: relative;
	opacity: 1;
}
