<div class="c-tabs" data-behaviour="TabPanel">
	<div class="c-tabs-ctrl">
		<a class="c-tabs-ctrl__btn" href="#t1" data-tab-pager>Tab 1</a>
		<a class="c-tabs-ctrl__btn" href="#t2" data-tab-pager>Tab 2</a>
	</div>
	<ul class="r-list c-tabs__list">
		<li class="c-tabs__item c-tabs__item--current" id="t1" data-tab-title="Tab 1">Tab 1</li>
		<li class="c-tabs__item" id="t2" data-tab-title="Tab 2">Tab 2</li>
	</ul>
</div>
