
{% set extend = '/wrapper/_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}
	<div id="test">
		<div data-element="item" data-prop1="a" data-prop2="b">
			<h1 class="mb-2">About</h1>
			<h3 class="mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati hic porro ipsa placeat, nemo ad.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, obcaecati maxime perspiciatis ab nulla laborum enim, rerum aut distinctio odio labore laudantium! Dolorum aliquid assumenda sint. Animi vero libero doloremque autem eius eligendi ut nihil! Veniam quisquam natus, eius nulla incidunt sapiente nihil minus distinctio architecto saepe voluptatum, excepturi repellat?</p>
		</div>
	</div>
{% endblock %}
