.t-latin {
	color: c(base, latin);
}

.t-caribbean {
	color: c(base, caribbean);
}

.t-asia {
	color: c(base, asia);
}

.t-row {
	color: c(base, row);
}

.t-neutral {
	color: c(base, neutral);
}

.t-bg-latin {
	background-color: c(base, latin);
}

.t-bg-caribbean {
	background-color: c(base, caribbean);
}

.t-bg-asia {
	background-color: c(base, asia);
}

.t-bg-row {
	background-color: c(base, row);
}

.t-bg-neutral {
	background-color: c(base, neutral);
}
