<div class="slider js_slider" data-behaviour="CarouselContainer">
	<div class="frame js_frame">
		<ul class="slides js_slides">
			<li class="js_slide bg-blue">1</li>
			<li class="js_slide bg-red">2</li>
			<li class="js_slide bg-green">3</li>
			<li class="js_slide bg-yellow">4</li>
			<li class="js_slide bg-purple">5</li>
			<li class="js_slide bg-black">6</li>
		</ul>
	</div>
</div>