$colors: (
  base: (
    volunteers: #D4327D,
    hosting: #E9925C,
    blogging: #77C4BC,
    training: #653897,
    grateful: #FEEF34,
    connected: #817A74
  ),
  secondary: (
    brand: #a70e0a,
    neutral: #e7e6e0,
    amazon: #fcb12a
  )
);