$fonts: (
  bold: (
    Roboto,
    Helvetica Neue,
    sans-serif
  ),
  italic: (
    Roboto,
    Helvetica Neue,
    sans-serif
  ),
  light: (
    Roboto,
    Helvetica Neue,
    sans-serif
  ),
  light-italic: (
    Roboto,
    Helvetica Neue,
    sans-serif
  ),
  regular: (
    Roboto,
    Helvetica Neue,
    sans-serif
  )
);