$fonts: (
  san-b: (
    FS Albert Bold,
    Helvetica Neue,
    sans-serif
  ),
  serif: (
    MessinaSerifWeb-Regular,
    Georgia,
    serif
  ),
  serif-b: (
    MessinaSerifWeb-Bold,
    Georgia,
    serif
  ),
  serif-i: (
    MessinaSerifWeb-RegularItalic,
    Georgia,
    serif
  )
);