$fonts: (
  body: (
    font-family: ('MessinaSerifWeb-Regular'),
    weight: 400,
    line-height: 1.5
  ),
  san-bold: (
    font-family: ('FS Albert Bold'),
    weight: 700,
    line-height: 1.5
  ),
  bold: (
    font-family: ('MessinaSerifWeb-Bold'),
    weight: 700,
    line-height: 1.5
  ),
  italic: (
    font-family: ('MessinaSerifWeb-RegularItalic'),
    weight: 400,
    line-height: 1.5
  )
);