
{% set extend = craft.app.config.general.custom.wrapper ~ '_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}

	{# {{ source('/svgs/ui-facebook.svg') }} #}

<div class="min-h-screen bg-blue w-full"></div>
<div class="min-h-screen bg-blue w-full"></div>
<div id="test" class="min-h-screen" data-behaviour="ExampleClass">
	<div data-element="item" data-prop1="a" data-prop2="b">
		<a href="#0" data-link>Link</a>
	</div>
</div>
<div class="min-h-screen bg-blue w-full"></div>
<div class="min-h-screen bg-blue w-full"></div>
{% endblock %}
