
{% set extend = craft.app.config.general.custom.wrapper ~ '_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}

	{# {{ source('/svgs/ui-facebook.svg') }} #}

<div id="test" data-behaviour="ModuleA">
	<div data-element="item" data-prop1="a" data-prop2="b">
		<a href="#0" data-link>Link</a>
	</div>
</div>
{% endblock %}
