.o-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: gutter(0.25) gutter(0.8);
	text-transform: uppercase;
	font-family: font('heading-bold');
	font-size: ms(1);
}

.o-btn--submit {
	color: $white;
	background-color: c(base, latin);
	width: 100%;
}

.o-btn--buy {
	color: $white;
	background-color: c(base, latin);
}

.o-btn--amazon {
	color: $white;
	background-color: c(secondary, amazon);
}
