@include dev() {
	[devmode] {
		& > * {
			border: 1px dotted c(base, brand);
		}

		.l-feat-grid__cell {
			aspect-ratio: '1:1';
			background-color: rgba(c(base, brand), .5);
			margin-bottom: gutter(1);

			.box {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			& > * {
				outline: none;
			}
		}
	}
}


.l-feat-grid {
	margin-bottom: vr(8, $units: true);

	@include mq($from: breakpoint('xsmall')) {
		justify-content: space-between;
	}

	@include mq($from: breakpoint('medium')) {
		margin-bottom: vr(12, $units: true);
	}

	@include mq($from: breakpoint('xlarge')) {
		margin-bottom: vr(16, $units: true);
	}
}

.l-feat-grid__side {
	@include mq($from: breakpoint('xsmall')) {
		width: span(7);
	}

	@include mq($from: breakpoint('medium')) {
		width: span(3 wide);
	}
}

.l-feat-grid__feed {
	@include mq($from: breakpoint('xsmall')) {
		width: span(9);
	}

	@include mq($from: breakpoint('medium')) {
		width: span(5);
	}
}


.l-feat-grid__lead {
	@include mq($from: breakpoint('xsmall')) {
		width: span(7);
	}

	@include mq($from: breakpoint('medium')) {
		width: span(7);
	}
}




