.g {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: rem(-60px);
}

.g__col {
	width: span(1 of 12);
	outline: 1px dotted red;
	margin-left: rem(60px);

	&::before {
		content: ' ';
		padding-top: 100%;
		display: block;
	}
}

.b__col {
	width: span(3 of 12);
	outline: 1px dotted red;
	margin-left: rem(60px);

	&::before {
		content: ' ';
		padding-top: 100%;
		display: block;
	}
}

.b__col--2 {
	width: span(6 of 12);
}
