*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
	image defaults
*/
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*
	Reset fieldset styles
*/
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/*
	Reset button styles
*/
button {
	appearance: none;
	background: none;
	padding: 0;
	border: 0;
}

/*
	Reset for ul/ol elements
*/
.r-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*
	class used for lazyloading images, combined with data-src
*/
.lazyload {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

/*
	base wrapper class
*/
.wrapper {
	width: 100%;
	max-width: rem($wrapper-width);
	margin: auto;
	padding: 0 gutter(1);

	@include mq($from: breakpoint('medium')) {
		padding: 0 gutter(2);
	}
}
