/*
	[1] Webkit constant for iOS 11, to account for iPhone X:
	https://webkit.org/blog/7929/designing-websites-for-iphone-x/
*/
.wrapper {
	padding: constant(safe-area-inset-top)
						constant(safe-area-inset-right)
						constant(safe-area-inset-bottom)
						constant(safe-area-inset-left); // [1]
}

.g-row {
	margin-bottom: vr(8, $units: true);

	@include mq($from: breakpoint('medium')) {
		margin-bottom: vr(12, $units: true);
	}

	@include mq($from: breakpoint('xlarge')) {
		margin-bottom: vr(16, $units: true);
	}
}

@each $break, $key in $breakpoints {
	@include mq($from: breakpoint($break)) {
		.g\@#{$break} {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
