*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

button {
	appearance: none;
	background: none;
	padding: 0;
	border: 0;
}

.r-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.lazyload {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.wrapper {
	width: 100%;
	max-width: rem($wrapper-width);
	margin: auto;
	padding: 0 get-gutter('mobile');

	@include mq($from: breakpoint('medium')) {
		padding: 0 get-gutter('tablet');
	}

	@include mq($from: breakpoint('large')) {
		padding: 0 get-gutter('desktop');
	}
}


