/* stylelint-disable */

.icon {
	position: relative;
	display: block;
	max-width: 100%;

  > svg {
    position: absolute;
		width: 100%;
		max-width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &:after {
    content: "";
    display: block;
    height: 0; 
    width: auto;
  }
}




