<div class="c-tabs" data-behaviour="TabPanel" data-tabs-options='{"animate": true}'>
	<ul class="c-tabs-ctrl r-list">
		<li class="c-tabs-ctrl__item"><a class="c-tabs-ctrl__btn" href="#t1" data-tab-pager>Tab 1</a></li>
		<li class="c-tabs-ctrl__item"><a class="c-tabs-ctrl__btn" href="#t2" data-tab-pager>Tab 2</a></li>
		<li class="c-tabs-ctrl__item"><a class="c-tabs-ctrl__btn" href="#t3" data-tab-pager>Tab 3</a></li>
	</ul>
	<ul class="r-list c-tabs__list">
		<li class="c-tabs__item c-tabs__item--current" id="t1" data-tab-title="Tab 1">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at, repellat sapiente in quibusdam facilis obcaecati et explicabo quisquam odio fugit consequuntur rerum molestias nulla dolorem magni ea reiciendis soluta quidem dolorum! Delectus placeat sit aperiam harum, adipisci laboriosam similique. Consequatur quia voluptatem vitae dolores? Unde cupiditate nemo quam maiores, iure rerum neque totam. Earum possimus nostrum in architecto, illum ad accusantium impedit aperiam libero porro vitae accusamus voluptatibus eligendi officia? Quos quidem quam explicabo obcaecati fugiat, provident a vel dolores aliquid facere natus quis. Recusandae velit modi cumque quibusdam ad incidunt culpa suscipit dolorum qui voluptates, odit nisi in.
			</p>
		</li>
		<li class="c-tabs__item" id="t2" data-tab-title="Tab 2">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at, repellat sapiente in quibusdam facilis obcaecati et explicabo quisquam odio fugit consequuntur rerum molestias nulla dolorem magni ea reiciendis soluta quidem dolorum! Delectus placeat sit aperiam harum, adipisci laboriosam similique. Consequatur quia voluptatem vitae dolores? Unde cupiditate nemo quam maiores, iure rerum neque totam. Earum possimus nostrum in architecto, illum ad accusantium impedit aperiam libero porro vitae accusamus voluptatibus eligendi officia? Quos quidem quam explicabo obcaecati fugiat, provident a vel dolores aliquid facere natus quis. Recusandae velit modi cumque quibusdam ad incidunt culpa suscipit dolorum qui voluptates, odit nisi in.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at, repellat sapiente in quibusdam facilis obcaecati et explicabo quisquam odio fugit consequuntur rerum molestias nulla dolorem magni ea reiciendis soluta quidem dolorum! Delectus placeat sit aperiam harum, adipisci laboriosam similique. Consequatur quia voluptatem vitae dolores? Unde cupiditate nemo quam maiores, iure rerum neque totam. Earum possimus nostrum in architecto, illum ad accusantium impedit aperiam libero porro vitae accusamus voluptatibus eligendi officia? Quos quidem quam explicabo obcaecati fugiat, provident a vel dolores aliquid facere natus quis. Recusandae velit modi cumque quibusdam ad incidunt culpa suscipit dolorum qui voluptates, odit nisi in.
			</p>
		</li>
		<li class="c-tabs__item" id="t3" data-tab-title="This tab is about cheese">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at, repellat sapiente in quibusdam facilis obcaecati et explicabo quisquam odio fugit consequuntur rerum molestias nulla dolorem magni ea reiciendis soluta quidem dolorum! Delectus placeat sit aperiam harum, adipisci laboriosam similique. Consequatur quia voluptatem vitae dolores? Unde cupiditate nemo quam maiores, iure rerum neque totam. Earum possimus nostrum in architecto, illum ad accusantium impedit aperiam libero porro vitae accusamus voluptatibus eligendi officia? Quos quidem quam explicabo obcaecati fugiat, provident a vel dolores aliquid facere natus quis. Recusandae velit modi cumque quibusdam ad incidunt culpa suscipit dolorum qui voluptates, odit nisi in.
			</p>
		</li>
	</ul>
</div>
