

<div class="l-feed-grid" devmode>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
      <div class="l-feed-grid__cell">
      <div class="box heading-5">Component</div>    </div>
  </div>
