

<div class="g">
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
	<div class="g__col">GRID ITEM</div>
</div>


<div class="g">
	<div class="b__col">GRID ITEM</div>
	<div class="b__col">GRID ITEM</div>
	<div class="b__col">GRID ITEM</div>
	<div class="b__col">GRID ITEM</div>
	<div class="b__col b__col--2">GRID ITEM</div>
</div>

