


<header class="c-header " data-behaviour="MobileMenu">
	<a href="#0" class="o-burger c-header__btn" id="menu-btn">
		<span></span>
	</a>

	
<nav class="c-menu" role="navigation" aria-label="Site navigation" id="site-menu">
	<button id="menu-sub-nav-closer" data-hide-subnav>
			<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

	</button>
	<ul class="r-list c-menu__root">
					<li class="c-menu__item c-menu__item--lv1">
				<a href="#0" class="c-menu__link " >Home</a>
							</li>
					<li class="c-menu__item c-menu__item--lv1">
				<a href="#0" class="c-menu__link " >Things</a>
							</li>
					<li class="c-menu__item c-menu__item--lv1">
				<a href="#0" class="c-menu__link " >Other Things</a>
							</li>
					<li class="c-menu__item c-menu__item--lv1">
				<a href="#0" class="c-menu__link " >More Things</a>
							</li>
			</ul>
</nav>
</header>	<div id="barba-wrapper" class="site-page">
		<div class="barba-container" data-namespace="">
				Home Page
		</div>
	</div>

<footer class="c-footer"></footer>
