{% import '@helpers' as h %}

<div class="o-radio">
	<input type="radio" id="radio_ID" name="opt-1">
	<label class="flex items-center" for="radio_ID">
		<span class="mr-0-5 rounded-50">{{ h.symbol('ui-close') }}</span>
		<span>Radio button label</span>
	</label>
</div>

