@include dev() {
	[devmode] {
		& > * {
			border: 1px dotted c(base, brand);
		}

		.l-feed-grid__cell {
			aspect-ratio: '1:1';
			background-color: rgba(c(base, brand), 0.5);
			margin-bottom: gutter(1);

			.box {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			& > * {
				outline: none;
			}
		}
	}
}

.l-feed-grid {
	margin-bottom: vr(8, $units: true);

	@include mq($from: breakpoint('xsmall')) {
		justify-content: flex-start;
	}

	@include mq($from: breakpoint('medium')) {
		margin-bottom: vr(12, $units: true);
	}

	@include mq($from: breakpoint('xlarge')) {
		margin-bottom: vr(16, $units: true);
	}
}

.l-feed-grid__cell {
	@include mq($from: breakpoint('xsmall')) {
		width: span(6 of 12);

		&:not(:nth-child(2n)) {
			margin-right: susy-gutter(1);
		}
	}

	@include mq($from: breakpoint('medium')) {
		width: span(4 of 12);
		margin-right: susy-gutter(1);

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}
