@import '../../node_modules/modularscale-sass/stylesheets/_modularscale.scss';
@import '../../node_modules/sass-mq/mq.scss';
@import 'susy';
@import 'plugins/svg-grid';
@import 'normalize';

@include normalize();

/*
  Settings
*/

@import '_config/breakpoints';
@import '_config/base';
@import '_config/fonts';
@import '_config/colors';
@import '_config/dimensions';
@import '_config/type-config';

/*
  Utility functions
*/

@import '_system/core/utilities';

/*
  Media query debugger
*/

@import '_config/debug';

/*
  Custom, site specific mixins
*/

@import '_system/site-mixins/mixins';

/*
  svg-symbols generated via `gulp symbols`
*/

@import '_system/gulp-output/svg-symbols';
@import '_system/gulp-output/svg-sprites';

/*
  Resets, and globals
*/

@import 'framework/index';
@import 'framework/grid';

/*
  Base styles
  Typography, Buttons, Tables, Form elements, Etc
*/

@import '../templates/01-base/**/**/*';

/*
  Object patterns
*/

@import '../templates/02-objects/**/**/*';

/*
  Global elements patterns
*/

@import '../templates/03-global/**/**/*';

/*
  Components patterns
*/

@import '../templates/04-components/**/**/*';

/*
  Layouts
*/

@import '../templates/05-layouts/**/**/*';

/*
  Pages
*/

@import '../templates/06-pages/**/**/*';

/*
  Utilities
*/

@import 'framework/utils';

/*
  Print styles
*/

@import 'print';

.whatever {
	transition: opacity 300ms ease, transform 200ms 300ms ease, height 200ms ease;
	background-image: radial-gradient(
		circle at center,
		rgba($black, 0.9),
		$black 40%
	);
	height: 10px;
	top: 0.2px;

	&::after {
		transition: opacity 800ms ease-in-out 200ms,
			transform 400ms ease-in-out 200ms;
	}
}
