/*
  Settings
*/
@import '../../node_modules/modularscale-sass/stylesheets/_modularscale.scss';

/*
  Utilities and functions
*/

@import '_system/core/units';
@import '_system/core/colors';
@import '_system/core/type';
@import '_system/core/spaces';
@import '_system/core/mq';
@import '_system/core/misc';

/*
  Settings
*/
@import '_config/base';
@import '_tokens/fonts';
@import '_tokens/colors';
@import '_tokens/breakpoints';
@import '_config/dimensions';

$debug: false;

@import '_config/type-config';
@import 'fonts.css';

/*
  Utility functions
*/

@import '_system/gulp-output/svg-symbols';

.Header {
	background-color: c(base, brand);
}

.Header-title {
	font-family: font('heading-bold');
	font-weight: normal;
}

.Pen-previewLink svg {
	fill: c(base, brand);
}

a {
	color: c(base, brand);
}

.token-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: rem(20px);
}

.token-grid__thumb {
	width: rem(100px);
	height: rem(50px);
	margin-right: rem(20px);
}

.token-grid__info {
	flex: 1;
}

@for $i from -2 through 20 {
	.fs--#{$i} {
		font-size: ms($i);
	}
}

.sym-grid {
	display: flex;
	flex-wrap: wrap;
}

.sym-item {
	margin-right: gutter(1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.icon {
		margin: auto;
	}

	span {
		margin-top: auto;
		font-size: rem(14px);
	}
}
