/*
  Settings
*/
@import '../../node_modules/modularscale-sass/stylesheets/_modularscale.scss';
@import '../../node_modules/sass-mq/mq.scss';
@import 'susy';
@import 'plugins/svg-grid';
@import 'normalize';
@import '_config/breakpoints';
@import '_config/base';
@import '_config/fonts';
@import '_config/colors';
@import '_config/dimensions';
@import '_config/type-config';

/*
  svg-symbols generated via `gulp symbols`
*/
@import '_system/core/utilities';
@import '_system/gulp-output/svg-symbols';

$debug: false;

@import '_config/type-config';
@import 'fonts.css';

/*
  Utility functions
*/

@import '_system/core/utilities';

.Header {
	background-color: c(base, brand);
}

.Header-title {
	font-family: font('heading-bold');
	font-weight: normal;
}

.Pen-previewLink svg {
	fill: c(base, brand);
}

a {
	color: c(base, brand);
}

.token-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: rem(20px);
}

.token-grid__thumb {
	width: rem(100px);
	height: rem(50px);
	margin-right: rem(20px);
}

.token-grid__info {
	flex: 1;
}

@for $i from -2 through 20 {
	.fs--#{$i} {
		font-size: ms($i);
	}
}

.sym-grid {
	display: flex;
	flex-wrap: wrap;
}

.sym-item {
	margin-right: gutter(1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.icon {
		margin: auto;
	}

	span {
		margin-top: auto;
		font-size: rem(14px);
	}
}
