{% import '@helpers' as h %}

<div class="o-checkbox">
	<input type="checkbox" id="checkbox_ID" name="opt-1">
	<label class="flex items-center" for="checkbox_ID">
		<span class="mr-0-5 border-50">{{ h.symbol('ui-tick') }}</span>
		<span>Checkbox label</span>
	</label>
</div>
