$colors: (
  base: (
    neutral: #9b8863,
    latin: #b2c15d,
    caribbean: #ee7827,
    asia: #634da2,
    body: #282827,
    brand: #cb1d18
  ),
  secondary: (
    brand: #a70e0a,
    neutral: #e7e6e0,
    amazon: #fcb12a
  )
);