/*
	Type config
*/

$base-font-size: 18px;
$base-type-leading: 24px;

$double-octave: 4;
$pi: 3.14159265359;
$major-twelfth: 3;
$major-eleventh: 2.666666667;
$major-tenth: 2.5;
$octave: 2;
$major-seventh: 1.875;
$minor-seventh: 1.777777778;
$major-sixth: 1.666666667;
$phi: 1.618034;
$golden: $phi;
$minor-sixth: 1.6;
$fifth: 1.5;
$augmented-fourth: 1.41421;
$fourth: 1.333333333;
$major-third: 1.25;
$minor-third: 1.2;
$major-second: 1.125;
$minor-second: 1.066666667;

$modularscale: (base: rem($base-font-size), ratio: $major-second);

// @for $i from -2 through 16 {
// 	$modularscale: (
// 		base: 18px,
// 		ratio: $major-second
// 	);
// 	$size: ms($i);
// 	$px: rem-to-px($size);
// 	@debug $i ms($i);
// }
